@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap");
img {
  margin-top: 50px;
}
a {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  color: #2f3640;
  font-size: 25px;
}
a:hover {
  text-decoration: underline;
}
.container {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.genres {
  display: flex;
  margin: 0px;
  justify-content: center;
}
.genres p {
  background-color: #f1c40f;
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
}
.summary {
  text-align: left;
  font-size: 13px;
  padding: 0px 30px;
  margin-bottom: 50px;
}
