.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  list-style: none;
  padding: 0px;
  width: 30%;
}
.list li {
  margin-bottom: 10px;
}
.list li span {
  display: inline-block;
  background-color: rgba(220, 20, 60, 0.233);
  width: 80%;
  text-align: center;
}
.list li button {
  width: 20%;
}
