.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  list-style: none;
  padding: 0px;
  width: 50%;
}
.list li span {
  display: inline-block;
  width: 80%;
}
.list li button {
  width: 20%;
}
